body{
	font-family: "Titillium Web";
}
.outer-center {
	margin-top: 30px;
    float: right;
    right: 50%;
    position: relative;
}
.inner-center {
    float: right;
    right: -50%;
    position: relative;
}
.clear {
    clear: both;
}
.segment{
	display: inline-block;
	padding: 8px 12px;
	background: #fafafa;
	font-size: 23px;
	margin: 0;
	cursor: pointer;
}
.segment:hover{
	background: #778899;
}
.sel{
	background: #99AABB;
}
a{
	text-decoration: none;
	color: #445566;
}
a:hover{
	color: #223344;
}
.hide{
	display: none;
}
#dropArea {
    background-color: #DDDDDD;
    border: 3px dashed #000000;
    font-size: 48px;
    font-weight: bold;
    margin: 20px auto;
    width: 400px;
    padding: 20px;
    text-align: center;
}
#dropArea.hover {
    background-color: #CCCCCC;
}
#dropArea.uploading {
    background: #292929;
}
/*Variable segments*/
.seg_part{
	display: inline-block;
	cursor: pointer;
	height: 40px;
}
.seg_part:hover{
	opacity: 0.7;
}
.seg_bar{
	width: 400px;
}
.sound_title{
	position: absolute;
	margin-left: -90px;
	margin-top: 5px;
}
#seg_area{
	margin: 0 auto;
	width: 400px;
}

